<div class="container">
  <div class="new-todo">
    <form>
      <div class="form-group row">
        <label for="new-todo"></label>
        <textarea
          [(ngModel)]="userInput"
          [ngModelOptions]="{ standalone: true }"
          class="form-control form-control-lg"
          id="new-todo"
          cols="30"
          rows="3"
          (input)="newTodo($event.target.value)"
          placeholder="Create a new Todo..."
        ></textarea>
      </div>
      <div class="form-group row float-right">
        <button type="button" class="btn btn-dark " [ngClass]="{'disable': userInput === null}" (click)="createTodo()">
          Create
        </button>
      </div>
    </form>
  </div>
  <div class="existing-todos row">
    <div
      [ngClass]="'col-xs-' + (completedTodos.length !== 0 ? '6' : '12')"
      *ngIf="todos.length"
    >
      <h4>Pending Todos</h4>
      <app-task
        [tasks]="todos"
        (markTodoAsCompleted)="markAsCompleted($event)"
        (modifyTodo)="modifyTodo($event)"
        (deleteTodo)="deleteTodo($event)"
      ></app-task>
    </div>
    <div
      class="completed"
      [ngClass]="'col-xs-' + (todos.length !== 0 ? '6' : '12')"
      *ngIf="completedTodos.length !== 0"
    >
      <h4>Completed Todos</h4>
      <app-task
        [tasks]="completedTodos"
        (deleteTodo)="deleteCompletedTodo($event)"
      ></app-task>
    </div>
  </div>
</div>
