/* You can add global styles to this file, and also import other style files */

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

textarea {
  /* Custom Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cc0000;
  }
}

.completed {
  app-task {
    .card {
      .card-body {
        .btn-group {
          button {
            &:nth-child(1),
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}
